/target
run.sh
run_rel.sh

/Cargo.lock
/.idea/.gitignore
/.idea/modules.xml
/.idea/sharepoint_file_uploader.iml
/.idea/vcs.xml

.git*
.vscode
__azurite_db*__.json
__blobstorage__
__queuestorage__
test
/.vscode/extensions.json
/curl_test.sh
/azfunc_sharepoint_uploader
/deployment.zip
